<div class="container-fluid">
<h2>Rohan Login Form</h2>
<form [formGroup]="RohanForm">
<div class="form-group">
  <label>username</label>
  <input [class.is-invalid]="RohanForm.get('username').invalid" type="text" class="form-control" formContolName="username">
  <small [class.d-none]="RohanForm.get('username').valid" class="text-danger">Username is required</small>
</div>

<div class="form-group">
  <label>password</label>
  <input [class.is-invalid]="RohanForm.get('password').invalid && RohanForm.get('password').touched" type="password" class="form-control" formControlName="password">
  <small [class.d-none]="RohanForm.get('password').valid || RohanForm.get('password').untouched" class="text-danger">Password is Required</small>
</div>
<div class="form-group">
  <label>confirmpass</label>
  <input type="password" class="form-control" formControlName="confirmpass">
</div>
<div formGroupName="RohanClass">
<div class="form-group">
  <label>Batch Name</label>
  <input type="text" class="form-control" formControlName="batch">
</div>
<div class="form-group">
  <label>fees</label>
  <input type="text" class="form-control" formControlName="fees">
</div>

</div>
<button type="submit" class="btn btn-primary">Login</button>
<button type="button" class="btn btn-primary ml-3" (click)="SetData()">SetValues</button>


</form>
{{RohanForm.value | json}}

</div>